<form action="/articles/<%= @article.id %>" method="POST">
    <input type="hidden" name="_method" value="patch">
    <label for="title">Title: </label>
    <input type="text" id ="title" name="article[title]" value="<%= @article.title %>">
    <br>
    <br>
    <label for="content">Content: </label>
    <input type="text" style="width: 900px;" id="content" name="article[content]" value="<%= @article.content%>">
    
    <!--<textarea type="text" id="content" name="article[content]" value="<%= @article.content%>"></textarea>-->
    <!-- <textarea style="width: 900px;" rows="10" type="text" id ="content" name="article[content]" value="<%= @article.content%>"></textarea>-->
    
    
    <br>
    <input type ="submit">
</form>